@import "./partials/variables";
@import "./partials/functions";
@import "./partials/mixins";
@import "./partials/animations";

* {
    box-sizing: border-box;
}

body {
    background-color: #E6E8E7;
    color: #111;
    font: {
       family: 'Montserrat', sans-serif;
    }

    i.side-bar-btn {
        display: none;
    }

    nav.side-bar {
        display: none;
    }
}

.hidden {
    display: none;
}


.page-container {
    margin: em(120) auto;
    width: 90%;
    border: 5px solid lighten($secondary-color, 10%);
    background-color: $primary-color;
    overflow: hidden;
    @include box-shadow;

    h1 {
        @include h1-page;
        @include anim-show;
    }
    h2 {
        @include h2-page;
        @include anim-show;
        animation-delay: .5s;
    }
    p {
        @include p-page;
    }
    .page-header {
        padding: em(40) em(20);
        width: 100%;
        min-height: em(200);
        background-color: #005043;
        color: $primary-color;
        @include flex-center;
        flex-direction: column;
        border-bottom: 5px solid lighten($secondary-color, 10%);
        &.hero {
            min-height: em(400);
        }
    }
    .page-tables {
        width: 95%;
        min-height: 30vh;
        padding: em(30);
        margin-left: em(20);
        &.under-hero {
            min-height: 30vh;
        }
        
        p.succes-notice {
            font-weight: bold;
            color: $primary-color;
            width: 60%;
            margin: 0 auto;
            font-size: em(26);
            text-align: center;
            border: 2px solid $secondary-color;
            padding: em(10) em(30);
            background-color: lighten($fourth-color, 5%);
            border-radius: em(5);
            box-shadow: em(2) em(2) em(4) $secondary-color;
        }

        .list {
            width: 90%;
            margin: 0 auto;
            .list-item {
                border: 2px solid $secondary-color;
                margin-bottom: em(3);
                box-shadow: em(1) em(1) $secondary-color;
                border-radius: em(3);
                position: relative;
                transition: all .5s;
                &:hover {
                    transform: translate(2%, 0);
                    padding: em(5);
                    margin-top: em(5);
                    margin-bottom: em(5);
                    background-color: $fourth-color;
                    border-color: darken($fourth-color, 20%);
                    box-shadow: em(2) em(2) em(1) $secondary-color;
                    & a {
                        color: $primary-color;
                    }
                }

                a {
                    text-decoration: none;
                    color: $secondary-color;
                    font-weight: bold;
                    display: block;
                    padding: em(10);
                }
            }
        }

        //STYLES FOR DJANGO FORMS!
        & > * {
            table {
                text-align: left;
                label {
                    margin-right: em(10);
                    font: {
                        weight: bold;
                    }
                }
                input, select {
                    border: 2px solid $fourth-color;
                    border-radius: em(5);
                    padding: em(10);
                    margin: em(10) 0;
                    box-shadow: em(2) em(2) em(1) #333;
                    transition: all 0.3s;
                }

                input:active, select:active {
                    background-color: $fourth-color;
                }

                input:focus, select:focus {
                    background-color: #ededed;
                    transform: scale(1.03);
                    border-width: 3px;
                }

            }
            input.btn, button.btn {
                border: 2px solid darken($fourth-color, 20%);
                border-radius: em(5);
                padding: em(10) em(20);
                margin-top: em(10);
                background-color: $fourth-color;
                color: $primary-color;
                font-weight: bold;
                box-shadow: em(2) em(2) em(1) #333;
                transition: all 0.3s;
                &:hover {
                    border-color: $fourth-color;
                    color: $fourth-color;
                    background-color: $primary-color;
                    transform: scale(1.05)
                }
            }
        }
    }

    .notice-tbl {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}



/***************************** NAVBAR ********************************/
nav {
    padding: em(10) em(20);
    display: flex;
    height: em(100);
    background-color: #111;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    font: {
        weight: bold;
    }

    .logo-part {
        width: 20%;
        color: $primary-color;
        @include flex-center;
        flex-wrap: wrap;

        p {
            font-size: em(16);
        }

        .img-wrapper {
            width: em(50);
            height: em(50);
            border-radius: 50%;
            @include flex-center;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .menu {
        width: 60%;
        .main-menu {
            display: flex;
            justify-content: center;
            gap: 1%;
            .menu-item {
                width: 18%;
                background-color: $fourth-color;
                border: 2px solid $primary-color;
                text-align: center;
                transition-duration: 0.3s;
                position: relative;
                font: {
                    size: em(16);
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $primary-color;
                    padding: em(10) 0;
                    @include li-clickable($line-height: em(18));
                }
                &.active {
                    background-color: $primary-color;
                    border: 2px solid $fourth-color;
                    a {
                        color: $fourth-color;
                    }
                }
                &:hover {
                    background-color: $primary-color;
                    border: 2px solid $fourth-color;
                    a {
                        color: $fourth-color;
                    }
                }

                .dropdown {
                    display: none;
                }
            }
        }
    }

    .menu .main-menu li:hover .dropdown {
        position: absolute;
        display: block;
        color: $fourth-color;
        background-color: $primary-color;
        border: 2px solid darken($fourth-color, 10%);
        left: 0;
        top: 100%;
        width: 100%;
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center;
        ul {
            display: block;
            width: 100%;
            li {
                width: 100%;
                padding: em(10px);
                &:hover {
                    background-color: darken($fourth-color, 5%);
                }
                a {
                    color: $fourth-color;
                    padding: em(10);
                    font-size: em(14);
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .user {
        width: 20%;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5%;

            li.user-item {
                text-align: center;
                font-size: em(16);
                p.user-name {
                    color: $primary-color;
                }
            }

            li.button {
                font-size: em(14);
            }

            li {
                text-align: center;
                a {
                    color: $primary-color;
                    text-decoration: none;
                    @include li-clickable($line-height: em(25));
                    @include btn-log;
                }

                .log-out {
                    @include log-out;
                }

                .log-in {
                    @include log-in;
                }

                .logo {
                    display: none;
                }

                .user-avatar {
                    display: flex;
                    flex-direction: column;
                    gap: em(5);
                    .img-wrapper {
                        width: em(50);
                        height: em(50);
                        border-radius: 50%;
                        margin: 0 auto;
                    }

                    .avatar-in {
                        background-color: $fourth-color;
                    }

                    .avatar-out {
                        background-color: $fifth-color;
                    }

                    img {
                        width: 100%;
                        display: block;
                    }
                }    
                
            }
        }
    }
}




/***************************** RESPONSIVITY ********************************/
@media screen and (max-width: 1280px) {
    .page-container {
        h1 {
            font-size: em(45);
        }

        h2 {
            font-size: em(30);
        }
    }

    nav .menu .main-menu {
        .menu-item {
            font-size: em(14);
        }
    }

    nav .logo-part {
        p {
            font-size: em(14);
        }

        .img-wrapper {
            width: em(40);
            height: em(40);
        }
    }

    nav .user ul {
        li.user-item {
            p.user-name {
                font-size: em(12);
            }
            
        }

        li .user-avatar {
            .img-wrapper {
                width: em(40);
                height: em(40);
            }
        }

        li.button {
            font-size: em(12);
        }
    }
}

@media screen and (max-width: 1024px) {
    .page-container {
        h1 {
            font-size: em(35);
        }

        h2 {
            font-size: em(23);
        }
    }

    nav .menu .main-menu {
        gap: 1.5%;
        .menu-item {
            font-size: em(12);
        }
    }

    nav .logo-part {
        flex-direction: column;
    }

    nav .logo-part, nav .user {
        width: 15%;
    }

    nav .menu {
        width: 70%;
    }

    nav .user ul {
        gap: 10%;
        li {
            .user-avatar {
                p.user-name {
                    font-size: em(8);
                }
                .img-wrapper {
                    width: em(25);
                    height: em(25);
                }
            }
            .logo {
                display: inline;
                padding-top: em(20);
                padding-bottom: em(20);
            }
            .text {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        position: relative;
        i.side-bar-btn {
            display: inline;
            position: fixed;
            top: em(20);
            right: em(20);
            font-size: em(25);
            color: darken(#2B2B2B, 10%);
            cursor: pointer;
            z-index: 100;
        }
    }

    nav {
        display: none;
    }

    nav.side-bar {
        display: block;
        width: 40%;
        height: auto;
        top: 0px;
        left: auto;
        right: 0px;
        margin: 0;
        padding: em(10);
        i.side-bar-cancel {
            position: absolute;
            top: em(10);
            left: em(10);
            color: $primary-color;
            cursor: pointer;
            font-size: em(20);
        }

        .logo {
            p {
                width: max-content;
                margin: em(15) auto em(5);
                text-align: center;
                color: $primary-color;
            }

            img {
                display: block;
                width: em(30);
                margin: 0 auto em(10);
            }
        }

        .side-user-avatar {
            width: 90%;
            margin: em(10) auto em(10);

            .img-wrapper {
                width: max-content;
                margin: em(10) auto em(5);
                border-radius: 50%;
                &.avatar-in {
                    background-color: $fourth-color;
                }
                &.avatar-out {
                    background-color: $fifth-color;
                }
                img {
                    width: em(40)
                }
            }
            p.user-name {
                width: max-content;
                margin: em(5) auto em(10);
                color: $primary-color;
                font-size: em(12);
            }
        }

        .side-menu {
            width: 90%;
            margin: em(10) auto em(10);
            ul {
                li {
                    text-align: center;
                    margin-bottom: em(8);
                    position: relative;
                    a {
                        color: $primary-color;
                        text-decoration: none;
                        border: 2px solid $primary-color;
                        background-color: $fourth-color;
                        border-radius: em(5);
                        @include li-clickable(100%);
                        padding: em(15) 0;
                        box-shadow: em(3) em(3) em(1) #000;
                        transition: all 0.2s;
                        &:active {
                            color: $fourth-color;
                            border: 2px solid $fourth-color;
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
        .side-menu ul li .dropdown.hidden {
            display: none;
        }
        .side-menu ul li .dropdown {
            display: block;
            position: relative;
            left: 0;
            top: 100%;
            width: 100%;
            animation: growDown 300ms ease-in-out forwards;
            transform-origin: top center;
            ul {
                box-shadow: em(3) em(3) em(1) #000;
                width: 90%; 
                margin: 0 auto;
                border-bottom-left-radius: em(5);
                border-bottom-right-radius: em(5);
                li {
                    width: 100%;
                    margin: 0;
                    &:last-child a {
                        border-bottom-left-radius: em(5);
                        border-bottom-right-radius: em(5);
                    }
    
                    a {
                        border-top: none;
                        border-radius: em(0);
                        box-shadow: none;
                        background-color: darken($fourth-color, 5%);
                        border-color: $primary-color;
                        border-width: 3px;
                        color: $primary-color;
                        transition: all 0.2s;
                        &:active {
                            color: darken($fourth-color, 5%);
                            border-color: darken($fourth-color, 5%);
                            background-color: $primary-color;
                        }
                    }
                }
            }    
        }
        
        .side-logout {
            a.btn-log {
                display: block;
                width: 40%;
                margin: em(30) auto em(10);
                text-align: center;
                font-size: em(18);
                border: 2px solid $primary-color;
                @include btn-log;
                color: $primary-color;
                text-decoration: none;
                &.log-out {
                    @include log-out;
                }
                &.log-in {
                    width: max-content;
                    @include log-in;
                    font-size: em(14);
                }
            }
        }

    }

    body .page-container {
        margin: 0;
        width: 100%;
        border: none;
        background-color: $primary-color;
        overflow: hidden;
        position: relative;

        h1 {
            font-size: em(25);
        }
        h2 {
            font-size: em(18);
        }
        p {
            font-size: em(15);
        }
        .page-header {
            padding: em(40) em(20);
            width: 100%;
            background-color: #005043;
            color: $primary-color;
            @include flex-center;
            flex-direction: column;
            min-height: 20vh;
            border-bottom: 5px solid #2B2B2B;
            &.hero {
                min-height: 35vh;
            }
        }

        .page-tables {
            width: 100%;
            min-height: 80vh;
            padding: em(30);
            margin-left: 0;
            &.under-hero {
                min-height: 65vh;
            }
            .page-tables {
                width: 100%;
                padding: em(30);
                margin-left: 0;
                .list {
                    .list-item {
                        transition: all 0.2s;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {
    body .page-container {
        h1 {
            font-size: em(20);
        }
        h2 {
            font-size: em(16);
        }
        p {
            font-size: em(14);
        }
    }
}