@import "./partials/variables";
@import "./partials/functions";
@import "./partials/mixins";
@import "./partials/animations";

* {
    box-sizing: border-box;
}

body {
    background-color: #E6E8E7;
    color: #111;
    font: {
       family: 'Montserrat', sans-serif;
    }
}

.page-container {
    margin: em(120) auto;
    width: 90%;
    border: 5px solid lighten($secondary-color, 10%);
    background-color: $primary-color;
    overflow: hidden;
    @include box-shadow;
    h1 {
        @include h1-page;
        @include anim-show;
    }
    h2 {
        @include h2-page;
        @include anim-show;
        animation-delay: .5s;
    }
    p {
        @include p-page;
    }
    .page-header {
        padding: em(40) em(20);
        width: 100%;
        background-color: #005043;
        color: $primary-color;
        @include flex-center;
        flex-direction: column;
        border-bottom: 5px solid lighten($secondary-color, 10%);
    }
    .page-tables {
        width: 95%;
        min-height: 30vh;
        padding: em(30);
        margin-left: em(20);
        
        p.succes-notice {
            font-weight: bold;
            color: $primary-color;
            width: 60%;
            margin: 0 auto;
            font-size: em(26);
            text-align: center;
            border: 2px solid $secondary-color;
            padding: em(10) em(30);
            background-color: lighten($fourth-color, 5%);
            border-radius: em(5);
            box-shadow: em(2) em(2) em(4) $secondary-color;
        }

        .list {
            width: 90%;
            margin: 0 auto;
            .list-item {
                border: 2px solid $secondary-color;
                margin-bottom: em(3);
                box-shadow: em(1) em(1) $secondary-color;
                border-radius: em(3);
                position: relative;
                transition: all .5s;
                &:hover {
                    transform: translate(2%, 0);
                    padding: em(5);
                    margin-top: em(5);
                    margin-bottom: em(5);
                    background-color: $fourth-color;
                    border-color: darken($fourth-color, 20%);
                    box-shadow: em(2) em(2) em(1) $secondary-color;
                    & a {
                        color: $primary-color;
                    }
                }

                a {
                    text-decoration: none;
                    color: $secondary-color;
                    font-weight: bold;
                    display: block;
                    padding: em(10);
                }
            }
        }

        //STYLES FOR DJANGO FORMS!
        & > * {
            table {
                text-align: left;
                label {
                    margin-right: em(10);
                    font: {
                        weight: bold;
                    }
                }
                input, select {
                    border: 2px solid $fourth-color;
                    border-radius: em(5);
                    padding: em(10);
                    margin: em(10) 0;
                    box-shadow: em(2) em(2) em(1) #333;
                    transition: all 0.3s;
                }

                input:active, select:active {
                    background-color: $fourth-color;
                }

                input:focus, select:focus {
                    background-color: #ededed;
                    transform: scale(1.03);
                    border-width: 3px;
                }

            }
            input.btn, button.btn {
                border: 2px solid darken($fourth-color, 20%);
                border-radius: em(5);
                padding: em(10) em(20);
                margin-top: em(10);
                background-color: $fourth-color;
                color: $primary-color;
                font-weight: bold;
                box-shadow: em(2) em(2) em(1) #333;
                transition: all 0.3s;
                &:hover {
                    border-color: $fourth-color;
                    color: $fourth-color;
                    background-color: $primary-color;
                    transform: scale(1.05)
                }
            }
        }
    }

    .notice-tbl {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}



/***************************** NAVBAR ********************************/
nav {
    padding: em(10) em(20);
    display: flex;
    height: em(100);
    background-color: #111;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    font: {
        weight: bold;
    }

    .logo-part {
        width: 17%;
        color: $primary-color;
        @include flex-center;

        .img-wrapper {
            width: em(50);
            height: em(50);
            border-radius: 50%;
            @include flex-center;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .menu {
        width: 66%;
        .main-menu {
            display: flex;
            justify-content: center;
            gap: 0.5%;
            .menu-item {
                width: 15%;
                background-color: $fourth-color;
                border: 2px solid $primary-color;
                text-align: center;
                text-transform: uppercase;
                transition-duration: 0.3s;
                position: relative;
                font: {
                    size: em(16);
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $primary-color;
                    padding: em(10) 0;
                    @include li-clickable($line-height: em(18));
                }
                &.active {
                    background-color: $primary-color;
                    border: 2px solid $fourth-color;
                    a {
                        color: $fourth-color;
                    }
                }
                &:hover {
                    background-color: $primary-color;
                    border: 2px solid $fourth-color;
                    a {
                        color: $fourth-color;
                    }
                }

                .dropdown {
                    display: none;
                }
            }
        }
    }

    .menu .main-menu li:hover .dropdown {
        position: absolute;
        display: block;
        color: $fourth-color;
        background-color: $primary-color;
        border: 2px solid darken($fourth-color, 10%);
        left: 0;
        top: 100%;
        width: 100%;
        ul {
            display: block;
            width: 100%;
            li {
                width: 100%;
                padding: em(10px);
                &:hover {
                    background-color: darken($fourth-color, 5%);
                }
                a {
                    color: $fourth-color;
                    padding: em(10);
                    font-size: em(14);
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .user {
        width: 17%;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            li.user {
                width: 25%;
                p {
                    font-size: em(12,16);
                    color: $primary-color;
                }
            }

            li.button {
                width: 50%;
            }

            li {
                text-align: center;
                a {
                    text-decoration: none;
                    color: $primary-color;
                    @include li-clickable($line-height: em(25));
                    @include btn-log;
                }

                .log-out {
                    @include log-out;
                }

                .log-in {
                    @include log-in;
                }

                .user-avatar {
                    display: flex;
                    flex-direction: column;
                    gap: em(5);
                    .img-wrapper {
                        width: em(50);
                        height: em(50);
                        border-radius: 50%;
                        margin: 0 auto;
                    }

                    .avatar-in {
                        background-color: $fourth-color;
                    }

                    .avatar-out {
                        background-color: $fifth-color;
                    }

                    img {
                        width: 100%;
                        display: block;
                    }
                }    
                
            }
        }
    }

}





/***************************** DOMOV ********************************/
