@import "./partials/variables";
@import "./partials/functions";
@import "./partials/mixins";
@import "./partials/animations";

* {
    box-sizing: border-box;
}

body {
    background-color: #E6E8E7;
    color: #111;
    position: relative;
    font: {
       family: 'Montserrat', sans-serif;
    }

    i.side-bar-btn {
        display: none;
    }

    nav.side-bar {
        display: none;
    }

    strong {
        text-decoration: underline;
    }
}

.hidden {
    display: none;
}


.page-container {
    margin: em(120) auto;
    width: 90%;
    border: 5px solid lighten($secondary-color, 10%);
    background-color: $primary-color;
    overflow: hidden;
    @include box-shadow;

    h1 {
        @include h1-page;
        @include anim-show;
    }
    h2 {
        @include h2-page;
        @include anim-show;
        animation-delay: .5s;
    }
    p {
        @include p-page;
    }
    .page-header {
        padding: em(40) em(20);
        width: 100%;
        min-height: em(200);
        background-color: #005043;
        color: $primary-color;
        @include flex-center;
        flex-direction: column;
        border-bottom: 5px solid lighten($secondary-color, 10%);
        &.hero {
            min-height: em(400);
        }
    }
    .page-tables {
        width: 95%;
        min-height: 30vh;
        padding: em(30);
        margin: 0 auto;
        position: relative;
        &.under-hero {
            min-height: 30vh;
        }

        h2 {
            color: $secondary-color;
            font-size: em(20,16);
            text-shadow: none;
            text-transform: none;
            animation: none;
        }

        p {
            a {
                color: $secondary-color;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        button {
            margin-right: em(10);
        }

        button.back-btn {
            color: $secondary-color;
            border: 2px solid $secondary-color;
            border-radius: em(5);
            font-size: em(16,16);
            padding: em(10) em(15);
            margin-top: em(20);
            font-weight: bold;
            background-color: $primary-color;
            transition: all 0.2s;
            &:hover, &:active {
                transform: scale(1.03);
                background-color: $fourth-color;
                color: $primary-color;
            }
        }

        a.for-pass {
            display: inline-block;
            color: $secondary-color;
            margin-top: em(20);
            text-decoration: none;
            &:hover, &:active {
                font-weight: bold;
            }
        }

        .box a {
            text-decoration: underline;
        }

        p.instruction {
            font-weight: bold;
            margin-bottom: em(15);
        }

        p.text {
            margin-bottom: em(15);
        }

        & .table-menu, .bottom-menu {
            width: 100%;
            margin-bottom: em(30);
            ul {
                width: 100%;
                margin: 0 auto;
                display: flex;
                @include flex-center;
                gap: 5%;
                li {
                    min-width: 20%;
                    width: max-content;
                    text-align: center;
                    font-size: em(16);
                    font-weight: bold;
                    margin-top: em(50);

                    a.table-menu-btn, a.bottom-menu-btn {
                        display: inline-block;
                        background-color: $primary-color;
                        border: 3px solid $fourth-color;
                        border-radius: em(5);
                        box-shadow: em(2) em(2) em(1) #333;
                        transition: all 0.3s;
                        text-decoration: none;
                        color: $secondary-color;
                        padding: em(10) em(10);
                        @include li-clickable(100%);
                        span.symbol {
                            color: $fourth-color;
                            margin-right: em(5);
                            vertical-align: middle;
                            font-size: em(30);
                        }
                        i {
                            display: inline;
                        }
                    }

                    a.table-menu-btn:hover {
                        background-color: $secondary-color;
                        border-color: $fourth-color;
                        color: $primary-color;  
                            span.symbol {
                                color: lighten($fourth-color, 10%);
                            }
                    }

                    a.bottom-menu-btn.delete{
                        border-color: $fifth-color;
                    }
                    a.bottom-menu-btn:hover {
                        &.edit {
                            background-color: $fourth-color;
                            color: $primary-color;
                            border-color: $fourth-color;
                        }
                        &.delete {
                            background-color: $fifth-color;
                            border-color: $fifth-color;
                            color: $primary-color;
                        }
                    }
                }
            }         
        }


        & .info-block {
            li {
                margin-bottom: em(45);
                i {
                    display: block;
                    margin-bottom: em(5);
                }
                span.label {
                    display: inline-block;
                    font-weight: bold;
                    text-decoration: underline;
                    font-size: em(18,16);
                    margin: em(5) 0;
                }
                p {
                    margin-bottom: em(5);
                }
            }
        }

        & .table-list {
            width: 30%;
            border: 2px solid $secondary-color;
            tr {
                transition: all 0.1s;
                &:nth-child(odd) {
                    background-color: darken($focus-color,10%);
                }
                &:hover, &:active {
                    background-color: lighten($fourth-color,5%);
                     td {
                        a {
                            color: $primary-color;
                        }
                     }
                    
                }
                th {
                    background-color: $fourth-color;
                    padding: em(10) 0;
                    color: $primary-color;
                    font-weight: bold;
                }

                td {
                    a {
                        text-decoration: none;
                        font-weight: bold;
                        color: $secondary-color;
                        text-align: center;
                        padding: em(7);
                        @include li-clickable(100%);
                        transition: all 0.1s;
                        &:hover, &:active {
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        .results-detail {
            width: 80%;
            tr {
                th {
                    border-right: 1px solid $secondary-color;
                }
                td {
                    border-right: 1px solid lighten($secondary-color, 50%);
                    a {
                        text-align: left;
                    }
                }
            } 
        }

        .proposition-info {
            margin: em(20);
            padding: em(30);

            h2 {
                text-align: center;
                text-decoration: underline;
                font-size: em(35,16);
                margin-bottom: em(30);
            }

            h3 {
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
                font-size: em(25,16);
                margin-bottom: em(15);
            }

            p.intro {
                font-weight: bold;
                text-align: center;
                margin-bottom: em(30);
                font-size: em(20);
            }

            .info-line {
                margin-bottom: em(25);
                i {
                    display: block;
                    font-size: em(25);
                    margin-bottom: em(3);
                }

                strong {
                    text-decoration: none;
                    font-weight: bold;
                    padding-right: em(10);
                }

                .sub-strong {
                    text-decoration: underline;
                    padding-right: em(10);
                }

                ul {
                    list-style-type: disc;
                    margin-top: em(5);
                }

                .sub-line {
                    margin-left: em(40);
                    text-transform: uppercase;
                    margin-bottom: em(10);
                }
            }
        }
        
        
        p.succes-notice {
            font-weight: bold;
            color: $primary-color;
            width: 60%;
            margin: 0 auto;
            font-size: em(26);
            text-align: center;
            border: 2px solid $secondary-color;
            padding: em(10) em(30);
            background-color: lighten($fourth-color, 5%);
            border-radius: em(5);
            box-shadow: em(2) em(2) em(4) $secondary-color;
        }

        .list {
            width: 90%;
            margin: 0 auto;
            .list-item {
                border: 2px solid $secondary-color;
                margin-bottom: em(3);
                box-shadow: em(1) em(1) $secondary-color;
                border-radius: em(3);
                position: relative;
                transition: all .5s;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:hover, &:active {
                    transform: translate(2%, 0) scale(1.05);
                    margin-top: em(5);
                    margin-bottom: em(5);
                    background-color: $fourth-color;
                    border-color: darken($fourth-color, 20%);
                    box-shadow: em(2) em(2) em(1) $secondary-color;
                    & a {
                        color: $primary-color;
                    }
                }

                &:hover .list-item-buttons a.edit, &:active .list-item-buttons a.edit{
                    background-color: $primary-color;
                    color: $secondary-color;
                    border-color: $secondary-color; 
                    display: block;     
                }
                &:hover .list-item-buttons a.delete, &:active .list-item-buttons a.delete  {
                    background-color: $fifth-color;
                    display: block;         
                }

                a {
                    text-decoration: none;
                    color: $secondary-color;
                    font-weight: bold;
                    display: block;
                    padding: em(14);
                    line-height: 100%;
                    width: 70%;
                }

                .list-item-buttons {
                    width: 30%;
                    display: flex;
                    a {
                        display: none;
                        padding: em(10);
                        text-align: center;
                        margin-right: em(15);
                        border: 2px solid $secondary-color;
                        border-radius: em(6);
                        box-shadow: em(1) em(1) $secondary-color;
                        transition: all 0.3s;
                        font-size: em(14,16);
                        &:first-child {
                            margin-right: em(30);
                        }
                        &:hover, &.active {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }

        .delete-question {
            p.question {
                text-align: center;
                font-size: em(20,16);
                color: $secondary-color;
                font-weight: bold;
                margin-bottom: em(20);
            }
            .question-buttons {
                width: 100%;
                display: flex;
                @include flex-center;
                gap: 3%;
                a, button {
                    text-align: center;
                    min-width: 25%;
                    width: max-content;
                    text-decoration: none;
                    display: block;
                    padding: em(10) em(20);
                    border: 2px solid $secondary-color;
                    border-radius: em(6);
                    line-height: 100%;
                    color: $secondary-color;
                    font-weight: bold;
                    background-color: $primary-color;
                    transition: all 0.3s;
                }
                a:hover {
                    background-color: $fourth-color;
                    color: $primary-color;
                }
                button:hover {
                    background-color: $fifth-color;
                    color: $primary-color;
                }
            }
        }

        .page-links {
            width: 100%;
            margin-top: em(50);
            text-align: center;
        }

        a.btn {
            border: 2px solid darken($fourth-color, 20%);
            border-radius: em(5);
            padding: em(10) em(20);
            margin-top: em(10);
            background-color: $fourth-color;
            color: $primary-color;
            font-weight: bold;
            box-shadow: em(2) em(2) em(1) #333;
            transition: all 0.3s;
            text-decoration: none;
            &:hover {
                border-color: $fourth-color;
                color: $fourth-color;
                background-color: $primary-color;
                transform: scale(1.05)
                }
        }

        form:not(:first-of-type) {
            margin-top: em(50);
            margin-bottom: em(50);
        }

        //STYLES FOR DJANGO FORMS!
        & > * {
            table {
                text-align: left;
                label {
                    margin-right: em(10);
                    font: {
                        weight: bold;
                    }
                }
                input, select {
                    border: 2px solid $fourth-color;
                    border-radius: em(5);
                    padding: em(10);
                    margin: em(10) 0;
                    box-shadow: em(2) em(2) em(1) #333;
                    transition: all 0.3s;
                }

                input:active, select:active {
                    background-color: $fourth-color;
                }

                input:focus, select:focus {
                    background-color: $focus-color;
                    transform: scale(1.03);
                    border-width: 3px;
                }
            }
            input.btn, button.btn {
                border: 2px solid darken($fourth-color, 20%);
                border-radius: em(5);
                padding: em(10) em(20);
                margin-top: em(10);
                background-color: $fourth-color;
                color: $primary-color;
                font-weight: bold;
                box-shadow: em(2) em(2) em(1) #333;
                transition: all 0.3s;
                &:hover {
                    border-color: $fourth-color;
                    color: $fourth-color;
                    background-color: $primary-color;
                    transform: scale(1.05)
                }
            }

            &.complex-form{
                label, h3 {
                    display: block;
                    font: {
                        weight: bold;
                        size: em(18,16)
                    }
                    margin: em(35) 0 em(3);
                }

                a {
                    display: block;
                    line-height: 1.1;
                    width: max-content;
                }
                 input.btn, button.btn {
                    margin-top: em(40);
                }

                button.delete {
                    margin-top: em(10);
                    background-color: $primary-color;
                    border: 3px solid $fifth-color;
                    border-radius: em(5);
                    box-shadow: em(2) em(2) em(1) #333;
                    transition: all 0.3s;
                    color: $secondary-color;
                    padding: em(10) em(10);
                    font-weight: bold;
                    &:hover {
                        background-color: $fifth-color;
                        color: $primary-color;
                    }
                }

            }
            textarea {
                border: 2px solid $fourth-color;
                border-radius: em(5);
                transition: all 0.3s;
                margin-left: em(6);
                box-shadow: em(2) em(2) em(1) #333;
                font: {
                    family: 'Montserrat', sans-serif;
                }
                padding: em(20);
                &:focus {
                    background-color: $focus-color;
                    transform: scale(1.03);
                    color: #000;
                }
            }
            input, select {
                margin-left: em(6);
                border: 2px solid $fourth-color;
                border-radius: em(5);
                box-shadow: em(2) em(2) em(1) #333;
                transition: all 0.3s;
            }

            input[type="radio"] {
                box-shadow: none;
                margin: em(10) 0;
                margin-left: em(6);
            }

            input[type="checkbox"] {
                box-shadow: none;
            }

            select {
                margin-right: em(10);
                padding: em(10) em(15);
                & option {
                    background-color: $focus-color;
                    color: $secondary-color;
                }
            }

            input {
                margin-left: em(6);
                padding: em(10);
            }

            input:active, select:active {
                background-color: $fourth-color;
            }

            input:focus, select:focus {
                background-color: $focus-color;
                transform: scale(1.03);
                border-width: 3px;
            }
        }
    }

    .notice-tbl {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}



/***************************** NAVBAR ********************************/
nav {
    padding: em(10) em(20);
    display: flex;
    height: em(100);
    background-color: #111;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    font: {
        weight: bold;
    }

    .logo-part {
        width: 20%;
        color: $primary-color;
        @include flex-center;
        flex-wrap: wrap;

        p {
            font-size: em(16);
        }

        .img-wrapper {
            width: em(50);
            height: em(50);
            border-radius: 50%;
            @include flex-center;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .menu {
        width: 60%;
        .main-menu {
            display: flex;
            justify-content: center;
            gap: 1%;
            .menu-item {
                width: 18%;
                background-color: $fourth-color;
                border: 2px solid $primary-color;
                text-align: center;
                transition-duration: 0.3s;
                position: relative;
                font: {
                    size: em(16);
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: $primary-color;
                    padding: em(10) 0;
                    @include li-clickable($line-height: em(18));
                }
                &.active {
                    background-color: $primary-color;
                    border: 2px solid $fourth-color;
                    a {
                        color: $fourth-color;
                    }
                }
                &:hover {
                    background-color: $primary-color;
                    border: 2px solid $fourth-color;
                    a {
                        color: $fourth-color;
                    }
                }

                .dropdown {
                    display: none;
                }
            }
        }
    }

    .menu .main-menu li:hover .dropdown {
        position: absolute;
        display: block;
        color: $fourth-color;
        background-color: $primary-color;
        border: 2px solid darken($fourth-color, 10%);
        left: 0;
        top: 100%;
        width: 100%;
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center;
        ul {
            display: block;
            width: 100%;
            li {
                width: 100%;
                padding: em(10px);
                &:hover {
                    background-color: darken($fourth-color, 5%);
                }
                a {
                    color: $fourth-color;
                    padding: em(10);
                    font-size: em(14);
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .user {
        width: 20%;
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 5%;

            li.user-item {
                text-align: center;
                font-size: em(16);
                p.user-name {
                    color: $primary-color;
                }
            }

            li.button {
                font-size: em(14);
            }

            li {
                text-align: center;
                a {
                    color: $primary-color;
                    text-decoration: none;
                    @include li-clickable($line-height: em(25));
                    @include btn-log;
                }

                .log-out {
                    @include log-out;
                }

                .log-in {
                    @include log-in;
                }

                .logo {
                    display: none;
                }

                .user-avatar {
                    display: flex;
                    flex-direction: column;
                    gap: em(5);

                    .img-wrapper {
                        width: em(50);
                        height: em(50);
                        border-radius: 50%;
                        margin: 0 auto;
                        position: relative;
                        a.to-profile {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }

                    .avatar-in {
                        background-color: $fourth-color;
                    }

                    .avatar-out {
                        background-color: $fifth-color;
                    }

                    img {
                        width: 100%;
                        display: block;
                    }
                }    
                
            }
        }
    }
}





/***************************** ALERT MESSAGES ********************************/
div.alert-message {
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: em(110);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .alert {
        min-height: em(40);
        padding: em(30);
        position: relative;
        color: $primary-color;
        @include flex-center;
        font-size: em(14,16);
        a {
            position: absolute;
            top: em(10);
            left: em(10);
            text-decoration: none;
            color: $primary-color;
            font-weight: bold;
        }
        p {
            color: $primary-color;
            font-weight: bold;
        }
    }
    .alert-success {
        background-color: lighten($fourth-color, 10%);
    }
    .alert-warning {
        background-color: $fifth-color;
    }
    .alert-info {
        background-color: $secondary-color;
    }
    .alert-danger {
        background-color: $fifth-color;
    }
}





/***************************** RESPONSIVITY ********************************/
@media screen and (max-width: 1280px) {
    .page-container {
        h1 {
            font-size: em(38);
        }

        h2 {
            font-size: em(30);
        }
        .page-tables {
            .list {
                .list-item {
                    a {
                        width: 65%;
                    }
    
                    .list-item-buttons {
                        width: 35%;
                        font-size: em(12,16);
                        justify-content: flex-end;
                        a {
                            width: max-content;
                        }
                    }
                }
            }
    
            & .table-list {
                width: 60%;
            }
        }
    }


    nav .menu .main-menu {
        gap: .8%;
        .menu-item {
            font-size: em(14);
        }
    }

    nav .logo-part {
        p {
            font-size: em(14);
        }

        .img-wrapper {
            width: em(40);
            height: em(40);
        }
    }

    nav .logo-part, nav .user {
        width: 19%;
    }

    nav .menu {
        width: 62%;
    }

    nav .user ul {
        li.user-item {
            p.user-name {
                font-size: em(12);
            }
            
        }

        li .user-avatar {
            .img-wrapper {
                width: em(40);
                height: em(40);
            }
        }

        li.button {
            font-size: em(12);
        }
    }
}

@media screen and (max-width: 1024px) {
    .page-container {
        font-size: em(14,16);
        h1 {
            font-size: em(35);
        }

        h2 {
            font-size: em(23);
        }
        form {
            font-size: em(14,16);
        }

        .page-tables {
            .list {
                .list-item {
                    a {
                        width: 65%;
                    }
    
                    .list-item-buttons {
                        width: 35%;
                        font-size: em(12,16);
                        justify-content: flex-end;
                        a {
                            width: max-content;
                        }
                    }
                }
            }
    
            & .table-list {
                width: 80%;
            }
        }
    }

    div.alert-message {
        width: 50%;
        top: em(105);
        .alert {
            padding: em(20)
        }
    }

    nav {
        gap: 1%;
    }

    nav .menu .main-menu {
        gap: 1%;
        .menu-item {
            font-size: em(12);
        }
    }

    nav .logo-part {
        flex-direction: column;
        font-size: em(14,16);
    }

    nav .logo-part, nav .user {
        width: 12%;
    }

    nav .menu {
        width: 76%;
    }

    nav .user ul {
        gap: 10%;
        li {
            .user-avatar {
                p.user-name {
                    font-size: em(8);
                }
                .img-wrapper {
                    width: em(25);
                    height: em(25);
                }
            }
            .logo {
                font-size: em(10,16);
                display: inline;
                padding-top: em(15);
                padding-bottom: em(15);
            }
            .text {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        position: relative;
        i.side-bar-btn {
            display: inline;
            position: fixed;
            top: em(20);
            right: em(20);
            font-size: em(25);
            color: darken(#2B2B2B, 10%);
            cursor: pointer;
            z-index: 100;
        }
    }

    nav {
        display: none;
    }

    nav.side-bar {
        display: block;
        width: 40%;
        height: auto;
        top: 0px;
        left: auto;
        right: 0px;
        margin: 0;
        padding: em(10);
        i.side-bar-cancel {
            position: absolute;
            top: em(10);
            left: em(10);
            color: $primary-color;
            cursor: pointer;
            font-size: em(20);
        }

        .logo {
            p {
                width: max-content;
                margin: em(15) auto em(5);
                text-align: center;
                color: $primary-color;
            }

            img {
                display: block;
                width: em(30);
                margin: 0 auto em(10);
            }
        }

        .side-user-avatar {
            width: 90%;
            margin: em(10) auto em(10);

            .img-wrapper {
                width: max-content;
                margin: em(10) auto em(5);
                border-radius: 50%;
                &.avatar-in {
                    background-color: $fourth-color;
                }
                &.avatar-out {
                    background-color: $fifth-color;
                }
                a.to-profile {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
                img {
                    width: em(40)
                }

            }
            p.user-name {
                width: max-content;
                margin: em(5) auto em(10);
                color: $primary-color;
                font-size: em(12);
            }
        }

        .side-menu {
            width: 90%;
            margin: em(10) auto em(10);
            ul {
                li {
                    text-align: center;
                    margin-bottom: em(8);
                    position: relative;
                    a {
                        color: $primary-color;
                        text-decoration: none;
                        border: 2px solid $primary-color;
                        background-color: $fourth-color;
                        border-radius: em(5);
                        @include li-clickable(100%);
                        padding: em(15) 0;
                        box-shadow: em(3) em(3) em(1) #000;
                        transition: all 0.2s;
                        &:active {
                            color: $fourth-color;
                            border: 2px solid $fourth-color;
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
        .side-menu ul li .dropdown.hidden {
            display: none;
        }
        .side-menu ul li .dropdown {
            display: block;
            position: relative;
            left: 0;
            top: 100%;
            width: 100%;
            animation: growDown 300ms ease-in-out forwards;
            transform-origin: top center;
            ul {
                box-shadow: em(3) em(3) em(1) #000;
                width: 90%; 
                margin: 0 auto;
                border-bottom-left-radius: em(5);
                border-bottom-right-radius: em(5);
                li {
                    width: 100%;
                    margin: 0;
                    &:last-child a {
                        border-bottom-left-radius: em(5);
                        border-bottom-right-radius: em(5);
                    }
    
                    a {
                        border-top: none;
                        border-radius: em(0);
                        box-shadow: none;
                        background-color: darken($fourth-color, 5%);
                        border-color: $primary-color;
                        border-width: 3px;
                        color: $primary-color;
                        transition: all 0.2s;
                        &:active {
                            color: darken($fourth-color, 5%);
                            border-color: darken($fourth-color, 5%);
                            background-color: $primary-color;
                        }
                    }
                }
            }    
        }
        
        .side-logout {
            a.btn-log {
                display: block;
                width: 40%;
                margin: em(30) auto em(10);
                text-align: center;
                font-size: em(18);
                border: 2px solid $primary-color;
                @include btn-log;
                color: $primary-color;
                text-decoration: none;
                &.log-out {
                    @include log-out;
                }
                &.log-in {
                    width: max-content;
                    @include log-in;
                    font-size: em(14);
                }
            }
        }

    }

    body .page-container {
        margin: 0;
        width: 100%;
        border: none;
        background-color: $primary-color;
        overflow: hidden;
        position: relative;

        h1 {
            font-size: em(25);
        }
        h2 {
            font-size: em(18);
        }
        p {
            font-size: em(15);
        }
        .page-header {
            padding: em(40) em(20);
            width: 100%;
            background-color: #005043;
            color: $primary-color;
            @include flex-center;
            flex-direction: column;
            min-height: 20vh;
            border-bottom: 5px solid #2B2B2B;
            &.hero {
                min-height: 35vh;
            }
        }

        .page-tables {
            width: 100%;
            min-height: 80vh;
            padding: em(30);
            margin-left: 0;
            &.under-hero {
                min-height: 65vh;
            }
            
            .list {
                .list-item {
                    &:hover .list-item-buttons a.edit, &:active .list-item-buttons a.edit{
                        display: none; 
                    }
                    &:hover .list-item-buttons a.delete, &:active .list-item-buttons a.delete  {
                        display: none;
                    }
                    transition: all 0.2s;
                    a {
                        width: 100%;
                    }
                    .list-item-buttons {
                        width: 0%;
                        a {
                            font-size: em(4,16);
                        }
                        
                    }
                }
            }

            .table-menu, .bottom-menu {
                ul {
                    width: 100%;
                    height: auto;
                    flex-direction: column;
                    gap: 1%;
                    li {
                        margin-bottom: em(10);
                        min-width: 60%;
                        margin-top: em(5);
                    }
                    
                }
            }
            .bottom-menu {
                ul {
                    margin-top: em(30);
                }  
            }
            a.btn {
                display: inline-block;
                margin-top: 0;
            }
            
            .table-list {
                width: 90%;
                margin: 0 auto;
            }

            h2 {
                text-align: center;
            }
        }
    }
}

div.alert-message {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

@media screen and (max-width: 640px) {
    body .page-container {
        h1 {
            font-size: em(20);
        }
        h2 {
            font-size: em(16);
        }
        p {
            font-size: em(14);
        }
    }
}

@media print {
    nav {
        display: none;
    }

    .page-container {
        width: 100;
        margin-top: 0;
        border: none;
        box-shadow: none;
        .page-header {
            display: none;
        }

        .page-tables {
            margin: 0;
            padding: 0;

            .proposition-info {
                margin: 0;
                padding: 0;
            }
        }
    }
}