/* COLORS */
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #E6E8E7;
  color: #111;
  font-family: "Montserrat", sans-serif;
}

.page-container {
  margin: 7.5em auto;
  width: 90%;
  border: 5px solid #2b2b2b;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0.375em 0.375em 0.5em #111;
}
.page-container h1 {
  font-size: 3.75em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.9375em 0 0.625em;
  text-shadow: 0.0625em 0.0625em 0em #000;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.page-container h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.625em;
  text-shadow: 0.0625em 0.0625em 0em #000;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.page-container p {
  font-size: 1.125em;
  line-height: 1.2;
}
.page-container .page-header {
  padding: 2.5em 1.25em;
  width: 100%;
  background-color: #005043;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid #2b2b2b;
}
.page-container .page-tables {
  width: 95%;
  min-height: 30vh;
  padding: 1.875em;
  margin-left: 1.25em;
}
.page-container .page-tables p.succes-notice {
  font-weight: bold;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  font-size: 1.625em;
  text-align: center;
  border: 2px solid #111;
  padding: 0.625em 1.875em;
  background-color: #006a58;
  border-radius: 0.3125em;
  box-shadow: 0.125em 0.125em 0.25em #111;
}
.page-container .page-tables .list {
  width: 90%;
  margin: 0 auto;
}
.page-container .page-tables .list .list-item {
  border: 2px solid #111;
  margin-bottom: 0.1875em;
  box-shadow: 0.0625em 0.0625em #111;
  border-radius: 0.1875em;
  position: relative;
  transition: all 0.5s;
}
.page-container .page-tables .list .list-item:hover {
  transform: translate(2%, 0);
  padding: 0.3125em;
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
  background-color: #005043;
  border-color: black;
  box-shadow: 0.125em 0.125em 0.0625em #111;
}
.page-container .page-tables .list .list-item:hover a {
  color: #fff;
}
.page-container .page-tables .list .list-item a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
  display: block;
  padding: 0.625em;
}
.page-container .page-tables > * table {
  text-align: left;
}
.page-container .page-tables > * table label {
  margin-right: 0.625em;
  font-weight: bold;
}
.page-container .page-tables > * table input, .page-container .page-tables > * table select {
  border: 2px solid #005043;
  border-radius: 0.3125em;
  padding: 0.625em;
  margin: 0.625em 0;
  box-shadow: 0.125em 0.125em 0.0625em #333;
  transition: all 0.3s;
}
.page-container .page-tables > * table input:active, .page-container .page-tables > * table select:active {
  background-color: #005043;
}
.page-container .page-tables > * table input:focus, .page-container .page-tables > * table select:focus {
  background-color: #ededed;
  transform: scale(1.03);
  border-width: 3px;
}
.page-container .page-tables > * input.btn, .page-container .page-tables > * button.btn {
  border: 2px solid black;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  margin-top: 0.625em;
  background-color: #005043;
  color: #fff;
  font-weight: bold;
  box-shadow: 0.125em 0.125em 0.0625em #333;
  transition: all 0.3s;
}
.page-container .page-tables > * input.btn:hover, .page-container .page-tables > * button.btn:hover {
  border-color: #005043;
  color: #005043;
  background-color: #fff;
  transform: scale(1.05);
}
.page-container .notice-tbl {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***************************** NAVBAR ********************************/
nav {
  padding: 0.625em 1.25em;
  display: flex;
  height: 6.25em;
  background-color: #111;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-weight: bold;
}
nav .logo-part {
  width: 17%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo-part .img-wrapper {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo-part .img-wrapper img {
  width: 100%;
  display: block;
}
nav .menu {
  width: 66%;
}
nav .menu .main-menu {
  display: flex;
  justify-content: center;
  gap: 0.5%;
}
nav .menu .main-menu .menu-item {
  width: 15%;
  background-color: #005043;
  border: 2px solid #fff;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.3s;
  position: relative;
  font-size: 1em;
}
nav .menu .main-menu .menu-item a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0.625em 0;
  display: block;
  width: 100%;
  line-height: 1.125em;
}
nav .menu .main-menu .menu-item.active {
  background-color: #fff;
  border: 2px solid #005043;
}
nav .menu .main-menu .menu-item.active a {
  color: #005043;
}
nav .menu .main-menu .menu-item:hover {
  background-color: #fff;
  border: 2px solid #005043;
}
nav .menu .main-menu .menu-item:hover a {
  color: #005043;
}
nav .menu .main-menu .menu-item .dropdown {
  display: none;
}
nav .menu .main-menu li:hover .dropdown {
  position: absolute;
  display: block;
  color: #005043;
  background-color: #fff;
  border: 2px solid #001d18;
  left: 0;
  top: 100%;
  width: 100%;
}
nav .menu .main-menu li:hover .dropdown ul {
  display: block;
  width: 100%;
}
nav .menu .main-menu li:hover .dropdown ul li {
  width: 100%;
  padding: 0.625pxem;
}
nav .menu .main-menu li:hover .dropdown ul li:hover {
  background-color: #00372e;
}
nav .menu .main-menu li:hover .dropdown ul li a {
  color: #005043;
  padding: 0.625em;
  font-size: 0.875em;
}
nav .menu .main-menu li:hover .dropdown ul li a:hover {
  color: #fff;
}
nav .user {
  width: 17%;
}
nav .user ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .user ul li.user {
  width: 25%;
}
nav .user ul li.user p {
  font-size: 0.75em;
  color: #fff;
}
nav .user ul li.button {
  width: 50%;
}
nav .user ul li {
  text-align: center;
}
nav .user ul li a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 1.5625em;
  padding: 0.625em 0.9375em;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
}
nav .user ul li .log-out {
  background-color: #F24452;
  color: #fff;
  border: 2px solid #fff;
  transition-duration: 0.4s;
}
nav .user ul li .log-out:hover {
  background-color: #fff;
  color: #F24452;
  border-color: #F24452;
}
nav .user ul li .log-in {
  background-color: #005043;
  color: #fff;
  border: 2px solid #fff;
  transition-duration: 0.4s;
}
nav .user ul li .log-in:hover {
  background-color: #fff;
  color: #005043;
  border-color: #005043;
}
nav .user ul li .user-avatar {
  display: flex;
  flex-direction: column;
  gap: 0.3125em;
}
nav .user ul li .user-avatar .img-wrapper {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  margin: 0 auto;
}
nav .user ul li .user-avatar .avatar-in {
  background-color: #005043;
}
nav .user ul li .user-avatar .avatar-out {
  background-color: #F24452;
}
nav .user ul li .user-avatar img {
  width: 100%;
  display: block;
}

/***************************** DOMOV ********************************//*# sourceMappingURL=style.css.map */