/* COLORS */
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
* {
  box-sizing: border-box;
}

body {
  background-color: #E6E8E7;
  color: #111;
  font-family: "Montserrat", sans-serif;
}
body i.side-bar-btn {
  display: none;
}
body nav.side-bar {
  display: none;
}

.hidden {
  display: none;
}

.page-container {
  margin: 7.5em auto;
  width: 90%;
  border: 5px solid #2b2b2b;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0.375em 0.375em 0.5em #111;
}
.page-container h1 {
  font-size: 3.75em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.9375em 0 0.625em;
  text-shadow: 0.0625em 0.0625em 0em #000;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.page-container h2 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.625em;
  text-shadow: 0.0625em 0.0625em 0em #000;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.page-container p {
  font-size: 1.125em;
  line-height: 1.2;
}
.page-container .page-header {
  padding: 2.5em 1.25em;
  width: 100%;
  min-height: 12.5em;
  background-color: #005043;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 5px solid #2b2b2b;
}
.page-container .page-header.hero {
  min-height: 25em;
}
.page-container .page-tables {
  width: 95%;
  min-height: 30vh;
  padding: 1.875em;
  margin: 0 auto;
  position: relative;
}
.page-container .page-tables.under-hero {
  min-height: 30vh;
}
.page-container .page-tables h2 {
  color: #111;
  font-size: 1.25em;
  text-shadow: none;
  text-transform: none;
  -webkit-animation: none;
          animation: none;
}
.page-container .page-tables p a {
  color: #111;
  text-decoration: none;
}
.page-container .page-tables p a:hover {
  text-decoration: underline;
}
.page-container .page-tables a.for-pass {
  display: inline-block;
  color: #111;
  margin-top: 1.25em;
  text-decoration: none;
}
.page-container .page-tables a.for-pass:hover, .page-container .page-tables a.for-pass:active {
  font-weight: bold;
}
.page-container .page-tables p.instruction {
  font-weight: bold;
  margin-bottom: 0.9375em;
}
.page-container .page-tables .table-menu, .page-container .page-tables .bottom-menu {
  width: 100%;
  margin-bottom: 1.875em;
}
.page-container .page-tables .table-menu ul, .page-container .page-tables .bottom-menu ul {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.page-container .page-tables .table-menu ul li, .page-container .page-tables .bottom-menu ul li {
  width: 20%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin-top: 3.125em;
}
.page-container .page-tables .table-menu ul li a.table-menu-btn, .page-container .page-tables .table-menu ul li a.bottom-menu-btn, .page-container .page-tables .bottom-menu ul li a.table-menu-btn, .page-container .page-tables .bottom-menu ul li a.bottom-menu-btn {
  display: inline-block;
  background-color: #fff;
  border: 3px solid #005043;
  border-radius: 0.3125em;
  box-shadow: 0.125em 0.125em 0.0625em #333;
  transition: all 0.3s;
  text-decoration: none;
  color: #111;
  padding: 0.625em 0;
  display: block;
  width: 100%;
  line-height: 100%;
}
.page-container .page-tables .table-menu ul li a.table-menu-btn span.symbol, .page-container .page-tables .table-menu ul li a.bottom-menu-btn span.symbol, .page-container .page-tables .bottom-menu ul li a.table-menu-btn span.symbol, .page-container .page-tables .bottom-menu ul li a.bottom-menu-btn span.symbol {
  color: #005043;
  margin-right: 0.3125em;
  vertical-align: middle;
  font-size: 1.875em;
}
.page-container .page-tables .table-menu ul li a.table-menu-btn:hover, .page-container .page-tables .bottom-menu ul li a.table-menu-btn:hover {
  background-color: #111;
  border-color: #005043;
  color: #fff;
}
.page-container .page-tables .table-menu ul li a.table-menu-btn:hover span.symbol, .page-container .page-tables .bottom-menu ul li a.table-menu-btn:hover span.symbol {
  color: #00836e;
}
.page-container .page-tables .table-menu ul li a.bottom-menu-btn.delete, .page-container .page-tables .bottom-menu ul li a.bottom-menu-btn.delete {
  border-color: #F24452;
}
.page-container .page-tables .table-menu ul li a.bottom-menu-btn:hover.edit, .page-container .page-tables .bottom-menu ul li a.bottom-menu-btn:hover.edit {
  background-color: #005043;
  color: #fff;
  border-color: #005043;
}
.page-container .page-tables .table-menu ul li a.bottom-menu-btn:hover.delete, .page-container .page-tables .bottom-menu ul li a.bottom-menu-btn:hover.delete {
  background-color: #F24452;
  border-color: #F24452;
  color: #fff;
}
.page-container .page-tables .info-block li {
  margin-bottom: 1.25em;
}
.page-container .page-tables .info-block li span.label {
  display: inline-block;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.125em;
  margin-bottom: 0.3125em;
}
.page-container .page-tables .table-list {
  width: 30%;
  border: 2px solid #111;
}
.page-container .page-tables .table-list tr {
  transition: all 0.1s;
}
.page-container .page-tables .table-list tr:nth-child(odd) {
  background-color: #d9d9d9;
}
.page-container .page-tables .table-list tr:hover, .page-container .page-tables .table-list tr:active {
  background-color: #006a58;
}
.page-container .page-tables .table-list tr:hover td a, .page-container .page-tables .table-list tr:active td a {
  color: #fff;
}
.page-container .page-tables .table-list tr th {
  background-color: #005043;
  padding: 0.625em 0;
  color: #fff;
  font-weight: bold;
}
.page-container .page-tables .table-list tr td a {
  text-decoration: none;
  font-weight: bold;
  color: #111;
  text-align: center;
  padding: 0.4375em;
  display: block;
  width: 100%;
  line-height: 100%;
  transition: all 0.1s;
}
.page-container .page-tables .table-list tr td a:hover, .page-container .page-tables .table-list tr td a:active {
  color: #fff;
}
.page-container .page-tables p.succes-notice {
  font-weight: bold;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  font-size: 1.625em;
  text-align: center;
  border: 2px solid #111;
  padding: 0.625em 1.875em;
  background-color: #006a58;
  border-radius: 0.3125em;
  box-shadow: 0.125em 0.125em 0.25em #111;
}
.page-container .page-tables .list {
  width: 90%;
  margin: 0 auto;
}
.page-container .page-tables .list .list-item {
  border: 2px solid #111;
  margin-bottom: 0.1875em;
  box-shadow: 0.0625em 0.0625em #111;
  border-radius: 0.1875em;
  position: relative;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-container .page-tables .list .list-item:hover, .page-container .page-tables .list .list-item:active {
  transform: translate(2%, 0) scale(1.05);
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
  background-color: #005043;
  border-color: black;
  box-shadow: 0.125em 0.125em 0.0625em #111;
}
.page-container .page-tables .list .list-item:hover a, .page-container .page-tables .list .list-item:active a {
  color: #fff;
}
.page-container .page-tables .list .list-item:hover .list-item-buttons a.edit, .page-container .page-tables .list .list-item:active .list-item-buttons a.edit {
  background-color: #fff;
  color: #111;
  border-color: #111;
  display: block;
}
.page-container .page-tables .list .list-item:hover .list-item-buttons a.delete, .page-container .page-tables .list .list-item:active .list-item-buttons a.delete {
  background-color: #F24452;
  display: block;
}
.page-container .page-tables .list .list-item a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
  display: block;
  padding: 0.875em;
  line-height: 100%;
  width: 80%;
}
.page-container .page-tables .list .list-item .list-item-buttons {
  width: 20%;
  display: flex;
}
.page-container .page-tables .list .list-item .list-item-buttons a {
  display: none;
  padding: 0.625em;
  text-align: center;
  margin-right: 0.9375em;
  border: 2px solid #111;
  border-radius: 0.375em;
  box-shadow: 0.0625em 0.0625em #111;
  transition: all 0.3s;
  font-size: 0.875em;
}
.page-container .page-tables .list .list-item .list-item-buttons a:first-child {
  margin-right: 1.875em;
}
.page-container .page-tables .list .list-item .list-item-buttons a:hover, .page-container .page-tables .list .list-item .list-item-buttons a.active {
  transform: scale(1.05);
}
.page-container .page-tables .delete-question p.question {
  text-align: center;
  font-size: 1.25em;
  color: #111;
  font-weight: bold;
  margin-bottom: 1.25em;
}
.page-container .page-tables .delete-question .question-buttons {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}
.page-container .page-tables .delete-question .question-buttons a, .page-container .page-tables .delete-question .question-buttons button {
  text-align: center;
  width: 20%;
  text-decoration: none;
  display: block;
  padding: 0.625em 1.25em;
  border: 2px solid #111;
  border-radius: 0.375em;
  line-height: 100%;
  color: #111;
  font-weight: bold;
  background-color: #fff;
  transition: all 0.3s;
}
.page-container .page-tables .delete-question .question-buttons a:hover {
  background-color: #005043;
  color: #fff;
}
.page-container .page-tables .delete-question .question-buttons button:hover {
  background-color: #F24452;
  color: #fff;
}
.page-container .page-tables .page-links {
  width: 100%;
  margin-top: 3.125em;
  text-align: center;
}
.page-container .page-tables > * table {
  text-align: left;
}
.page-container .page-tables > * table label {
  margin-right: 0.625em;
  font-weight: bold;
}
.page-container .page-tables > * table input, .page-container .page-tables > * table select {
  border: 2px solid #005043;
  border-radius: 0.3125em;
  padding: 0.625em;
  margin: 0.625em 0;
  box-shadow: 0.125em 0.125em 0.0625em #333;
  transition: all 0.3s;
}
.page-container .page-tables > * table input:active, .page-container .page-tables > * table select:active {
  background-color: #005043;
}
.page-container .page-tables > * table input:focus, .page-container .page-tables > * table select:focus {
  background-color: #f2f2f2;
  transform: scale(1.03);
  border-width: 3px;
}
.page-container .page-tables > * input.btn, .page-container .page-tables > * button.btn {
  border: 2px solid black;
  border-radius: 0.3125em;
  padding: 0.625em 1.25em;
  margin-top: 0.625em;
  background-color: #005043;
  color: #fff;
  font-weight: bold;
  box-shadow: 0.125em 0.125em 0.0625em #333;
  transition: all 0.3s;
}
.page-container .page-tables > * input.btn:hover, .page-container .page-tables > * button.btn:hover {
  border-color: #005043;
  color: #005043;
  background-color: #fff;
  transform: scale(1.05);
}
.page-container .page-tables > *.complex-form label {
  display: block;
  font-weight: bold;
  font-size: 1.125em;
  margin: 2.1875em 0 0.1875em;
}
.page-container .page-tables > *.complex-form input.btn, .page-container .page-tables > *.complex-form button.btn {
  margin-top: 2.5em;
}
.page-container .page-tables > * textarea {
  border: 2px solid #005043;
  border-radius: 0.3125em;
  transition: all 0.3s;
  margin-left: 0.375em;
  box-shadow: 0.125em 0.125em 0.0625em #333;
  font-family: "Montserrat", sans-serif;
  padding: 1.25em;
}
.page-container .page-tables > * textarea:focus {
  background-color: #f2f2f2;
  transform: scale(1.03);
  color: #000;
}
.page-container .page-tables > * input, .page-container .page-tables > * select {
  margin-left: 0.375em;
  border: 2px solid #005043;
  border-radius: 0.3125em;
  box-shadow: 0.125em 0.125em 0.0625em #333;
  transition: all 0.3s;
}
.page-container .page-tables > * select {
  margin-right: 0.625em;
  padding: 0.625em 0.9375em;
}
.page-container .page-tables > * select option {
  background-color: #f2f2f2;
  color: #111;
}
.page-container .page-tables > * input {
  margin-left: 0.375em;
  padding: 0.625em;
}
.page-container .page-tables > * input:active, .page-container .page-tables > * select:active {
  background-color: #005043;
}
.page-container .page-tables > * input:focus, .page-container .page-tables > * select:focus {
  background-color: #f2f2f2;
  transform: scale(1.03);
  border-width: 3px;
}
.page-container .notice-tbl {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***************************** NAVBAR ********************************/
nav {
  padding: 0.625em 1.25em;
  display: flex;
  height: 6.25em;
  background-color: #111;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-weight: bold;
}
nav .logo-part {
  width: 20%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
nav .logo-part p {
  font-size: 1em;
}
nav .logo-part .img-wrapper {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo-part .img-wrapper img {
  width: 100%;
  display: block;
}
nav .menu {
  width: 60%;
}
nav .menu .main-menu {
  display: flex;
  justify-content: center;
  gap: 1%;
}
nav .menu .main-menu .menu-item {
  width: 18%;
  background-color: #005043;
  border: 2px solid #fff;
  text-align: center;
  transition-duration: 0.3s;
  position: relative;
  font-size: 1em;
}
nav .menu .main-menu .menu-item a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 0.625em 0;
  display: block;
  width: 100%;
  line-height: 1.125em;
}
nav .menu .main-menu .menu-item.active {
  background-color: #fff;
  border: 2px solid #005043;
}
nav .menu .main-menu .menu-item.active a {
  color: #005043;
}
nav .menu .main-menu .menu-item:hover {
  background-color: #fff;
  border: 2px solid #005043;
}
nav .menu .main-menu .menu-item:hover a {
  color: #005043;
}
nav .menu .main-menu .menu-item .dropdown {
  display: none;
}
nav .menu .main-menu li:hover .dropdown {
  position: absolute;
  display: block;
  color: #005043;
  background-color: #fff;
  border: 2px solid #001d18;
  left: 0;
  top: 100%;
  width: 100%;
  -webkit-animation: growDown 300ms ease-in-out forwards;
          animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
nav .menu .main-menu li:hover .dropdown ul {
  display: block;
  width: 100%;
}
nav .menu .main-menu li:hover .dropdown ul li {
  width: 100%;
  padding: 0.625pxem;
}
nav .menu .main-menu li:hover .dropdown ul li:hover {
  background-color: #00372e;
}
nav .menu .main-menu li:hover .dropdown ul li a {
  color: #005043;
  padding: 0.625em;
  font-size: 0.875em;
}
nav .menu .main-menu li:hover .dropdown ul li a:hover {
  color: #fff;
}
nav .user {
  width: 20%;
}
nav .user ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5%;
}
nav .user ul li.user-item {
  text-align: center;
  font-size: 1em;
}
nav .user ul li.user-item p.user-name {
  color: #fff;
}
nav .user ul li.button {
  font-size: 0.875em;
}
nav .user ul li {
  text-align: center;
}
nav .user ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  line-height: 1.5625em;
  padding: 0.625em 0.9375em;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
}
nav .user ul li .log-out {
  background-color: #F24452;
  color: #fff;
  border: 2px solid #fff;
  transition-duration: 0.4s;
}
nav .user ul li .log-out:hover {
  background-color: #fff;
  color: #F24452;
  border-color: #F24452;
}
nav .user ul li .log-in {
  background-color: #005043;
  color: #fff;
  border: 2px solid #fff;
  transition-duration: 0.4s;
}
nav .user ul li .log-in:hover {
  background-color: #fff;
  color: #005043;
  border-color: #005043;
}
nav .user ul li .logo {
  display: none;
}
nav .user ul li .user-avatar {
  display: flex;
  flex-direction: column;
  gap: 0.3125em;
}
nav .user ul li .user-avatar .img-wrapper {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
nav .user ul li .user-avatar .img-wrapper a.to-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
nav .user ul li .user-avatar .avatar-in {
  background-color: #005043;
}
nav .user ul li .user-avatar .avatar-out {
  background-color: #F24452;
}
nav .user ul li .user-avatar img {
  width: 100%;
  display: block;
}

/***************************** RESPONSIVITY ********************************/
@media screen and (max-width: 1280px) {
  .page-container h1 {
    font-size: 2.8125em;
  }
  .page-container h2 {
    font-size: 1.875em;
  }
  nav .menu .main-menu .menu-item {
    font-size: 0.875em;
  }
  nav .logo-part p {
    font-size: 0.875em;
  }
  nav .logo-part .img-wrapper {
    width: 2.5em;
    height: 2.5em;
  }
  nav .user ul li.user-item p.user-name {
    font-size: 0.75em;
  }
  nav .user ul li .user-avatar .img-wrapper {
    width: 2.5em;
    height: 2.5em;
  }
  nav .user ul li.button {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 1024px) {
  .page-container h1 {
    font-size: 2.1875em;
  }
  .page-container h2 {
    font-size: 1.4375em;
  }
  nav .menu .main-menu {
    gap: 1.5%;
  }
  nav .menu .main-menu .menu-item {
    font-size: 0.75em;
  }
  nav .logo-part {
    flex-direction: column;
  }
  nav .logo-part, nav .user {
    width: 15%;
  }
  nav .menu {
    width: 70%;
  }
  nav .user ul {
    gap: 10%;
  }
  nav .user ul li .user-avatar p.user-name {
    font-size: 0.5em;
  }
  nav .user ul li .user-avatar .img-wrapper {
    width: 1.5625em;
    height: 1.5625em;
  }
  nav .user ul li .logo {
    display: inline;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
  nav .user ul li .text {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body {
    position: relative;
  }
  body i.side-bar-btn {
    display: inline;
    position: fixed;
    top: 1.25em;
    right: 1.25em;
    font-size: 1.5625em;
    color: #121212;
    cursor: pointer;
    z-index: 100;
  }
  nav {
    display: none;
  }
  nav.side-bar {
    display: block;
    width: 40%;
    height: auto;
    top: 0px;
    left: auto;
    right: 0px;
    margin: 0;
    padding: 0.625em;
  }
  nav.side-bar i.side-bar-cancel {
    position: absolute;
    top: 0.625em;
    left: 0.625em;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
  }
  nav.side-bar .logo p {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0.9375em auto 0.3125em;
    text-align: center;
    color: #fff;
  }
  nav.side-bar .logo img {
    display: block;
    width: 1.875em;
    margin: 0 auto 0.625em;
  }
  nav.side-bar .side-user-avatar {
    width: 90%;
    margin: 0.625em auto 0.625em;
  }
  nav.side-bar .side-user-avatar .img-wrapper {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0.625em auto 0.3125em;
    border-radius: 50%;
  }
  nav.side-bar .side-user-avatar .img-wrapper.avatar-in {
    background-color: #005043;
  }
  nav.side-bar .side-user-avatar .img-wrapper.avatar-out {
    background-color: #F24452;
  }
  nav.side-bar .side-user-avatar .img-wrapper img {
    width: 2.5em;
  }
  nav.side-bar .side-user-avatar p.user-name {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0.3125em auto 0.625em;
    color: #fff;
    font-size: 0.75em;
  }
  nav.side-bar .side-menu {
    width: 90%;
    margin: 0.625em auto 0.625em;
  }
  nav.side-bar .side-menu ul li {
    text-align: center;
    margin-bottom: 0.5em;
    position: relative;
  }
  nav.side-bar .side-menu ul li a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    background-color: #005043;
    border-radius: 0.3125em;
    display: block;
    width: 100%;
    line-height: 100%;
    padding: 0.9375em 0;
    box-shadow: 0.1875em 0.1875em 0.0625em #000;
    transition: all 0.2s;
  }
  nav.side-bar .side-menu ul li a:active {
    color: #005043;
    border: 2px solid #005043;
    background-color: #fff;
  }
  nav.side-bar .side-menu ul li .dropdown.hidden {
    display: none;
  }
  nav.side-bar .side-menu ul li .dropdown {
    display: block;
    position: relative;
    left: 0;
    top: 100%;
    width: 100%;
    -webkit-animation: growDown 300ms ease-in-out forwards;
            animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
  }
  nav.side-bar .side-menu ul li .dropdown ul {
    box-shadow: 0.1875em 0.1875em 0.0625em #000;
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 0.3125em;
    border-bottom-right-radius: 0.3125em;
  }
  nav.side-bar .side-menu ul li .dropdown ul li {
    width: 100%;
    margin: 0;
  }
  nav.side-bar .side-menu ul li .dropdown ul li:last-child a {
    border-bottom-left-radius: 0.3125em;
    border-bottom-right-radius: 0.3125em;
  }
  nav.side-bar .side-menu ul li .dropdown ul li a {
    border-top: none;
    border-radius: 0em;
    box-shadow: none;
    background-color: #00372e;
    border-color: #fff;
    border-width: 3px;
    color: #fff;
    transition: all 0.2s;
  }
  nav.side-bar .side-menu ul li .dropdown ul li a:active {
    color: #00372e;
    border-color: #00372e;
    background-color: #fff;
  }
  nav.side-bar .side-logout a.btn-log {
    display: block;
    width: 40%;
    margin: 1.875em auto 0.625em;
    text-align: center;
    font-size: 1.125em;
    border: 2px solid #fff;
    padding: 0.625em 0.9375em;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  nav.side-bar .side-logout a.btn-log.log-out {
    background-color: #F24452;
    color: #fff;
    border: 2px solid #fff;
    transition-duration: 0.4s;
  }
  nav.side-bar .side-logout a.btn-log.log-out:hover {
    background-color: #fff;
    color: #F24452;
    border-color: #F24452;
  }
  nav.side-bar .side-logout a.btn-log.log-in {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #005043;
    color: #fff;
    border: 2px solid #fff;
    transition-duration: 0.4s;
    font-size: 0.875em;
  }
  nav.side-bar .side-logout a.btn-log.log-in:hover {
    background-color: #fff;
    color: #005043;
    border-color: #005043;
  }
  body .page-container {
    margin: 0;
    width: 100%;
    border: none;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }
  body .page-container h1 {
    font-size: 1.5625em;
  }
  body .page-container h2 {
    font-size: 1.125em;
  }
  body .page-container p {
    font-size: 0.9375em;
  }
  body .page-container .page-header {
    padding: 2.5em 1.25em;
    width: 100%;
    background-color: #005043;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 20vh;
    border-bottom: 5px solid #2B2B2B;
  }
  body .page-container .page-header.hero {
    min-height: 35vh;
  }
  body .page-container .page-tables {
    width: 100%;
    min-height: 80vh;
    padding: 1.875em;
    margin-left: 0;
  }
  body .page-container .page-tables.under-hero {
    min-height: 65vh;
  }
  body .page-container .page-tables .page-tables {
    width: 100%;
    padding: 1.875em;
    margin-left: 0;
  }
  body .page-container .page-tables .page-tables .list .list-item {
    transition: all 0.2s;
  }
}
@media screen and (max-width: 640px) {
  body .page-container h1 {
    font-size: 1.25em;
  }
  body .page-container h2 {
    font-size: 1em;
  }
  body .page-container p {
    font-size: 0.875em;
  }
}/*# sourceMappingURL=style.css.map */