{% extends 'main.html' %}
{% block content %}
<div class="page-header">
    <h1>Deaktivácia účtu</h1>
</div>
<div class="page-tables">
    <form method="POST">
        {% csrf_token %}
        <div>
            <p class="instruction">Naozaj chcete deaktivovať svoj účet? </p>
            <a href="{% url 'deactivate_user' %}"><button class="btn" type="submit">Áno</button></a>
            <a href="{% url 'profile' %}"><button class="btn" type="button">Nie</button></a>
        </div>
    </form>
    <button class="back-btn" onclick="history.back()"><i class="fa-solid fa-left-long"></i> Späť</button>
</div>
{% endblock %}