{% autoescape off %}
Ahoj {{ user.first_name }} {{ user.last_name }},

Dostali sme žiadosť o obnovenie hesla pre váš účet pre túto e-mailovú adresu. Ak chcete spustiť proces obnovenia hesla pre svoj účet, kliknite na odkaz nižšie.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Tento odkaz je možné použiť iba raz. Ak potrebujete znova obnoviť svoje heslo, navštívte {{ protocol }}://{{domain}} a požiadajte o ďalšie obnovenie.

Ak ste túto žiadosť neodoslali, môžete tento e-mail jednoducho ignorovať.

S pozdravom,
tým tournament app
{% endautoescape %}