{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>Žiadosť o pridelenie práv</h1>
</div>
<div class="page-tables">
    <p class="instruction">Žiadosť o pridelenie práv pre užívateľa {{ user.first_name }} {{ user.last_name }}</p>
    {% if user.email and profile.phone %}
    <p class="text">Vyberte, o aké práva chcete požiadať:</p>
    <form>
        {% csrf_token %}
        {% for group in groups %}
        <div>
            <input type="radio" id="{{group}}" name="group" value="{{group}}">
            <label for="{{group}}">{{group}}</label><br>
        </div>
        {% endfor %}
        <button class="btn" type="submit" name="btn-submit"><i class="fa-solid fa-hand-pointer"></i> Vyberte možnosť</button>
        
    </form>
    <form method="POST">
        {% csrf_token %}
        <div>
            {% if group == "Zástupca klubu" %}
            <p class="instruction">Vybrali ste možnosť "{{ group }}".</p>
            <p class="text"><strong>Vyhľadajte a vyberte klub</strong>, ktorého chcete byť zástupcom. <strong>Ak ste nenašli klub, napíšte názov nového klubu</strong>, ktorého chcete byť zástupcom.</p>
            <label>Klub: </label>
            <input type="text" list="clublist" name="clubname" required="required">
            <datalist id="clublist">
                {% for club in clubs %}
                <option value="{{ club.club_name }}">
                {% endfor %}
            </datalist>
            {% elif group == "Organizátor" %}
            <p class="instruction">Vybrali ste možnosť "{{ group }}".</p>
            {% endif %}
            {% if group == "Zástupca klubu" or group == "Organizátor" %}
            <button class="btn" type="submit"><i class="fa-solid fa-paper-plane"></i> Odoslať žiadosť</button>
            {% endif %}
        </div>
    </form>
    {% else %}
    <p class="text">Vráťte sa späť do profilu a doplňte svoje údaje. Musíte mať vyplnený email aj telefónne číslo.</p>
    {% endif %}
    <a class="btn" href="{% url 'profile' %}"><i class="fa-solid fa-left-long"></i> Späť do profilu</a>
</div>
{% endblock %}