{% extends 'main.html' %}
{% load static %}
{% block content %}
<p>Žiadosť o pridelenie práv pre užívateľa {{ user.first_name }} {{ user.last_name }}</p>
<div>
    {% if user.email and profile.phone %}
    <p>Vyberte, o jaká práva chcete zažádat:</p>
        <form>
            {% for group in groups %}
            <input type="radio" id="{{group}}" name="group" value="{{group}}">
            <label for="{{group}}">{{group}}</label><br>
            {% endfor %}
        </form>
    <br>
    <p>Zobrazit jen když je zaškrtnutý organizátor</p>
    <p>Odeslat žádost</p>
    <br>
    <p>Zobrazit jen když je zaškrtnutý zástupce klubu</p>
    <input type="text" list="clublist">
    <datalist id="clublist">
        {% for club in clubs %}
        <option value="{{ club.club_name }}">
        {% endfor %}
    </datalist>
<br>
    <p>Odeslat žádost - pokud je vybrán/zapsán klub</p>
    {% else %}
    <p>Vráťte sa späť do profilu a doplňte ho. Musíte mať vyplnený email aj telefónne číslo.</p>
    {% endif %}

</div>
{% endblock %}