{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="page-header">
    <h1>Profil užívateľa: "{{ user.first_name }} {{ user.last_name }}"</h1>
</div>
<div class="page-tables">
    <ul class="info-block">
        <li>
            <i class="fa-solid fa-user fa-xl"></i>
            <span class="label">Meno:</span>
            <p>{{ user.first_name }}</p>
            <span class="label">Priezvisko:</span>
            <p>{{ user.last_name }}</p>
        </li>
        <li>
            <i class="fa-solid fa-envelope fa-xl"></i>
            <span class="label">Email:</span>
            <p>{{ user.email }}</p>
        </li>
        <li>
            <i class="fa-solid fa-phone fa-xl"></i>
            <span class="label">Tel.:</span>
            <p>{{ profile.phone }}</p>
        </li>
        {% if "Zástupca klubu" in group %}
        <li>
            <i class="fa-solid fa-people-roof fa-xl"></i>
            <span class="label">Klub:</span>
            <p>{{ profile.club }}</p>
        </li>
        {% endif %}
        <li>
            <i class="fa-solid fa-user-group fa-xl"></i>
            <span class="label">Užívateľské skupiny:</span>
            {% for g in group %}
            <p>{{ g }}</p>
            {% endfor %}
        </li>
        <div class="bottom-menu">
            <ul>
                <li>
                    <a href="{% url 'profile_update' %}" class="table-menu-btn"><i class="fa-regular fa-address-card"></i> Zmena údajov profilu</a>
                </li>
                <li>
                    <a href="{% url 'password_change' %}" class="table-menu-btn"><i class="fa-solid fa-lock"></i> Zmena hesla</a>
                </li>
                <li>
                    <a href="{% url 'deactivate_user' %}" class="table-menu-btn"><i class="fa-solid fa-user-slash"></i> Deaktivovať účet</a>
                </li>
            </ul>
        </div>
    </ul>
    <p class="instruction">Ste organizátor turnaja alebo zástupca klubu? Požiadajte si o práva.</p>
    <a class="btn" href="{% url 'permission_request' %}">Požiadať o práva</a>
</div>
{% endblock %}