{% extends 'main.html' %}
{% load static %}
{% block content %}
<p>Zmena údajov profilu užívateľa {{ user.first_name }} {{ user.last_name }}</p>
<form method="post" enctype="multipart/form-data">
            {% csrf_token %}

    <p>
                        <label>Meno:</label>
                            {{ user_form.first_name }}
    </p>
    <p>
                        <label>Priezvisko:</label>
                            {{ user_form.last_name }}
    </p>
    <p>
                        <label>Email:</label>
                            {{ user_form.email }}
    </p>
    <p>
                        <label>Telefón:</label>
                            {{ profile_form.phone }}
    </p>

            <br><br>
            <button type="submit" >Uložiť zmeny</button>
            <button type="reset" >Resetovať</button>
        </form>
{% endblock %}