{% extends 'main.html' %}
{% block content %}
<div class="page-header">
    <h1>{{ category.category_name }}</h1>
</div>
<div class="page-tables">
    <h2>Zoznam hráčov z kategórie "{{ category.category_name }}":</h2>
    <table class="table-list">
        <tr>
            <th>Meno</th>
            <th>Priezvisko</th>
            <th>Rok narodenia</th>
        </tr>
       {% if category.category_name == 'dievčata' %}
            {% for player in players_dievčata %}
                <tr>
                    <td><a href="{% url 'player' player.pk %}">{{ player.name }}</a></td>
                    <td><a href="{% url 'player' player.pk %}">{{ player.lastname }}</a></td>
                    <td><a href="{% url 'player' player.pk %}">{{ player.year_of_birth }}</a></td>
                </tr>
            {% endfor %}
        {% else %}

            {% if category.category_name == 'dospeli' %}
                {% for player in players_dospeli %}
                    <tr>
                        <td><a href="{% url 'player' player.pk %}">{{ player.name }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.lastname }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.year_of_birth }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if category.category_name == 'dorastenci' %}
                {% for player in players_dorastenci %}
                    <tr>
                        <td><a href="{% url 'player' player.pk %}">{{ player.name }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.lastname }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.year_of_birth }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if category.category_name == 'starší žiaci' %}
                {% for player in players_starší_žiaci %}
                    <tr>
                        <td><a href="{% url 'player' player.pk %}">{{ player.name }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.lastname }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.year_of_birth }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if category.category_name == 'mladší žiaci' %}
                {% for player in players_mladší_žiaci %}
                    <tr>
                        <td><a href="{% url 'player' player.pk %}">{{ player.name }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.lastname }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.year_of_birth }}</a></td>
                    </tr>
                {% endfor %}

            {% else %}
                {% for player in players_ostatni %}
                    <tr>
                        <td><a href="{% url 'player' player.pk %}">{{ player.name }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.lastname }}</a></td>
                        <td><a href="{% url 'player' player.pk %}">{{ player.year_of_birth }}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endif %}
    </table>
    <div class="bottom-menu">
        <ul>
            <li><a class="edit bottom-menu-btn" href="{% url 'category_update' category.id %}"><i class="fa-solid fa-pen-to-square"></i> Upraviť kategóriu</a></li>
            <li><a class="delete bottom-menu-btn" href="{% url 'category_delete' category.id %}"><i class="fa-solid fa-trash-can"></i> Vymazať kategóriu</a></li>
        </ul>      
    </div>
</div>
{% endblock %}