{% extends 'main.html' %}
{% block content %}
    <div class="page-header">
        <h1>{{club.club_name}}</h1>
    </div>
    <div class="page-tables">
        <h2>Zoznam hráčov z klubu {{ club.club_name }}:</h2>
        <table class="table-list">
            <tr>
                <th>Meno</th>
                <th>Priezvisko</th>
            </tr>
            {% for player in players %}
            <tr>
                <td><a href="{% url 'player' player.id%}">{{ player.name }}</a></td>
                <td><a href="{% url 'player' player.id%}">{{ player.lastname }}</a></td>
            </tr>
            {% endfor %}  
        </table>
    </div>
{% endblock %}
