{% extends 'main.html' %}
{% block content %}
    <div class="page-header">
        <h1>{{club.club_name}}</h1>
    </div>
    <div class="page-tables">
        <h2>Zoznam hráčov z klubu {{ club.club_name }}:</h2>
        <table class="table-list">
            <tr>
                <th>Meno</th>
                <th>Priezvisko</th>
            </tr>
            {% for player in players %}
            <tr>
                <td><a href="{% url 'player' player.id%}">{{ player.name }}</a></td>
                <td><a href="{% url 'player' player.id%}">{{ player.lastname }}</a></td>
            </tr>
            {% endfor %}  
        </table>
        <div class="bottom-menu">
            <ul>
                <li><a class="edit bottom-menu-btn" href="{% url 'club_update' club.id %}"><i class="fa-solid fa-pen-to-square"></i> Upraviť klub</a></li>
                <li><a class="delete bottom-menu-btn" href="{% url 'club_delete' club.id %}"><i class="fa-solid fa-trash-can"></i> Vymazať klub</a></li>
            </ul>      
        </div>
        <button class="back-btn" onclick="history.back()"><i class="fa-solid fa-left-long"></i> Späť</button>
    </div>
{% endblock %}
