{% extends 'main.html' %}

{% block content %}
<div class="page-header">
  <h1>Vymazať ligu</h1>
</div>
<div class="page-tables">
  <form method="post">
    {% csrf_token %}
    <div class="delete-question">
      <p class="question">Ste si istý, že chcete vymazať ligu "{{ object.league_name }}" z databázy?</p>
      <div class="question-buttons">
        <button type="submit"><i class="fa-solid fa-trash"></i> Vymazať ligu</button>
        <a href="{% url 'leagues' %}"><i class="fa-solid fa-ban"></i> Zrušiť zmazanie</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}