{% extends "main.html" %}

{% block content %}
<div class="page-header">
    <h1>Organizátori</h1> <!-- lepšie vložiť premennú - asi až po preklade-->
</div>
<div class="page-tables">
    <div class="table-menu">
        <ul>
            <li><a class="table-menu-btn" href="{% url 'organizer_create'%}"><span class="symbol">+</span>Vytvor&nbsp;nového&nbsp;organizátora</a></li>
        </ul>      
    </div>
    <ul class="list">
        {% for organizer in object_list %}
            <li class="list-item">
                <a href="{% url 'organizer' organizer.id %}">{{ organizer.organizer_name }} {{ organizer.organizer_lastname }}</a>
                <div class="list-item-buttons">
                    <a class="edit" href="{% url 'organizer_update' organizer.id %}"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Upraviť</a>
                    <a class="delete" href="{% url 'organizer_delete' organizer.id %}"><i class="fa-solid fa-trash-can"></i>&nbsp;Vymazať</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}