{% extends 'main.html' %}

{% block content %}
    <div class="page-header">
        <h1>{{ player.name }} {{ player.lastname }}</h1>
    </div>
    <div class="page-tables">
        <h2>Klub hráča:</h2>
        <p><a href="{% url 'club' player.club.pk %}"> {{ player.club.club_name }}</a></p>
        <div class="bottom-menu">
            <ul>
                {% if perms.tournaments.change_player and user.profile.club.pk == player.club.pk or user.is_staff %}
                <li><a class="edit bottom-menu-btn" href="{% url 'player_update' player.id %}"><i class="fa-solid fa-pen-to-square"></i> Upraviť hráča</a></li>
                {% endif %}
                {% if perms.tournaments.delete_player and user.profile.club.pk == player.club.pk or user.is_staff %}
                <li><a class="delete bottom-menu-btn" href="{% url 'player_delete' player.id %}"><i class="fa-solid fa-trash-can"></i> Vymazať hráča</a></li>
                {% endif %}
            </ul>      
        </div>
        <button class="back-btn" onclick="history.back()"><i class="fa-solid fa-left-long"></i> Späť</button>
    </div>
{% endblock content %}
