{% extends "main.html" %}

{% block content %}
<div class="page-header">
    <h1>Propozície</h1>
</div>
<div class="page-tables">
    <ul class="list">
        {% for proposition in propositions %}
            <li class="list-item"><a href="{% url 'proposition' proposition.pk %}"> {{ proposition }} </a></li>
        {% endfor %}
    </ul>
    <div class="page-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Strana {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </div>
</div>
{% endblock %}