{% extends "main.html" %}

{% block content %}
<style>
    .hidden {
        display: none
    }
</style>

<div class="page-header">
    <h1>Turnaj</h1> <!-- Nejde mi sem dať {{ title }} extra context  #KUBO-->
</div>
<div class="page-tables">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form class="complex-form" method="post">
        {% csrf_token %}
        {{ form.as_p}}

        {% if formset %}
        <h3>Hráči</h3>
        {{ formset.management_form }}
        <div id='player-form-list'>
            {% for form in formset %}
                <div class="result-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}

        </div>
            <div id="empty-form" class="hidden">{{ formset.empty_form.as_p }}</div>
            <button id="add-player" type="button">Pridaj hráča</button>
        {% endif %}
        <button type="submit" class="btn btn-primary">Uložiť</button>
    </form>
</div>
<script>
    const addMoreBtn = document.getElementById('add-player')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')

    addMoreBtn.addEventListener('click', add_new_form)

    function add_new_form(event) {
        if (event) {
            event.preventDefault()
        }
        const currentResultForms = document.getElementsByClassName('result-form')
        const currentFormCount = currentResultForms.length // + 1
        const formCopyTarget = document.getElementById('player-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'result-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        // now add new empty form element to our html form
        formCopyTarget.append(copyEmptyFormEl)
    }
</script>

{% endblock %}