{% extends "main.html" %}

{% block content %}
<style>
    .hidden {
        display: none
    }
</style>

<div class="page-header">
    <h1>Turnaj</h1>
</div>
<div class="page-tables">
    <form class="complex-form" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <a href="{% url 'proposition_create' %}" class="btn">Vytvor novú propozíciu</a>
        {% if formset %}
        <h3>Hráči:</h3>
        {{ formset.management_form }}
        <div id='player-form-list'>
            {% for form in formset %}
                <div class="result-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}

        </div>
            <div id="empty-form" class="hidden">{{ formset.empty_form.as_p }}</div>
            <button id="add-player" type="button" class="btn btn-primary">Pridaj hráča</button>
        {% endif %}
        <button type="submit" class="btn btn-primary">Uložiť</button>
    </form>
    <button class="back-btn" onclick="history.back()"><i class="fa-solid fa-left-long"></i> Späť</button>
</div>
<script>
    const addMoreBtn = document.getElementById('add-player')
    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    const currentResultForms = document.getElementsByClassName('result-form')
    let currentFormCount = 0;

    addMoreBtn.addEventListener('click', createPlayerForm)

    function createPlayerForm(event) {
        if (event) {
            event.preventDefault()
        }
        
        const formCopyTarget = document.getElementById('player-form-list')
        const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
        copyEmptyFormEl.setAttribute('class', 'result-form')
        copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
        const regex = new RegExp('__prefix__', 'g')
        copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
        totalNewForms.setAttribute('value', currentFormCount + 1)
        formCopyTarget.append(copyEmptyFormEl)
        addForm(currentFormCount)
    }
    function addForm(index) {
        let currentDiv = document.getElementById(`form-${index}`)
        const removeBtn = document.createElement("button");
        removeBtn.innerHTML = "Vymazať hráča";
        removeBtn.classList.add("delete")
        removeBtn.addEventListener("click", () => currentDiv.remove())
        currentDiv.appendChild(removeBtn);
        currentFormCount++
        console.log(currentResultForms)
        console.log(currentFormCount)
    }
</script>
{% endblock %}