{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="page-header">
        <img src="{% static 'images/olympics.svg' %}" alt="">
        <h1>Turnaje v stolnom tenise</h1>
        <h2>Slovenská republika</h2>
    </div>
    <div class="page-tables">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, facere ipsum eum voluptatum architecto accusantium expedita magni pariatur id sunt ab optio dolores ipsa repellat repellendus eveniet quis fugiat. Ducimus! Autem, vel asperiores esse deserunt quaerat cum voluptatibus corporis nam sit, magnam tenetur molestiae obcaecati recusandae incidunt nesciunt repellendus earum placeat suscipit ad deleniti. Voluptatum, illo aperiam! Cupiditate, mollitia quia!</p>   
    </div>
{% endblock %}