{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div class="page-header hero">
        <img src="{% static 'images/olympics.svg' %}" alt="">
        <h1>Turnaje v stolnom tenise</h1>
        <h2>Slovenská republika</h2>
    </div>
    <div class="page-tables under-hero">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ducimus reprehenderit possimus, illum eveniet vitae adipisci ipsam tempore, magnam veniam asperiores animi ab, similique velit quis! Aspernatur adipisci atque odio repellat unde nostrum dolore, provident labore assumenda! Soluta laboriosam corporis temporibus dolorum hic iusto similique.</p>   
    </div>
{% endblock %}