{% load static %}
<nav role="navigation">
    <div class="logo-part">
        <p>Stolný Tenis</p>
        <div class="img-wrapper">
            <img src="{% static 'images/slovakia.png' %}" alt="slovakia erb">
        </div>
    </div>
    <div class="menu">
        <ul class="main-menu">
            <li class="menu-item"><a href="{% url 'home' %}">Domov</a></li>
            <li class="menu-item"><a href="{% url 'results' %}">Výsledky</a></li>
            <li class="menu-item"><a href="#">Turnaje <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown">
                    <ul>
                        <li><a href="{% url 'propositions' %}">Propozície</a></li>
                        {% if request.user.is_authenticated  %}
                            {% if perms.tournaments.add_propositions %}
                                <li><a href="{% url 'proposition_create' %}">Vytvor propozíciu</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="{% url 'tournaments' %}">Turnaje</a></li>
                        {% if request.user.is_authenticated  %}
                            {% if perms.tournaments.add_tournament %}
                                <li><a href="{% url 'tournament_create' %}">Vytvor turnaj</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </li>
            {% if request.user.is_authenticated  %}
            <li class="menu-item"><a href="#">Hráči <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown">
                    <ul>
                        {% if perms.tournaments.add_player %}
                        <li><a href="{% url 'player_create' %}">Vytvor hráča</a></li>
                        {% endif %}
                        <li><a href="{% url 'players' %}">Zoznam hráčov</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-item"><a href="#">Kluby <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown">
                    <ul>
                        {% if perms.tournaments.add_club %}
                        <li><a href="{% url 'club_create' %}">Vytvor klub</a></li>
                        {% endif %}
                        <li><a href="{% url 'clubs' %}">Zoznam klubov</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-item"><a href="#">Ostatné <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown">
                    <ul>
                        <li><a href="{% url 'organizers' %}">Organizátori</a></li>
                        <li><a href="{% url 'leagues' %}">Ligy</a></li>
                        <li><a href="{% url 'seasons' %}">Sezóny</a></li>
                        <li><a href="{% url 'disciplines' %}">Disciplíny</a></li>
                        <li><a href="{% url 'categories' %}">Kategórie</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="user">
        <ul>
            {% if request.user.is_authenticated  %}
            <li class="user-item">
                <div class="user-avatar">
                    <div class="img-wrapper avatar-in">
                        <a class="to-profile" href="{% url 'profile'%}"></a>
                        <img src="{% static 'images/user_avatar.svg' %}" alt="user-avatar">
                    </div>
                    <p class="user-name">{{ request.user.first_name }} {{ user.last_name }}</p>
                </div>
            </li>
            <li class="button">
                <a href="{% url 'logout' %}" class="btn-log log-out text">Odhlásiť&nbsp;sa</a>
                <a href="{% url 'logout' %}" class="btn-log log-out logo"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </li>
            {% else %}
            <li class="user-item">
                <div class="user-avatar">
                    <div class="img-wrapper avatar-out">
                        <img src="{% static 'images/user_avatar.svg' %}" alt="user-avatar">
                    </div>
                </div>
            </li>
            <li class="button">
                <a href="{% url 'login' %}" class="btn-log log-in">Prihlásiť&nbsp;sa</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>