{% load static %}
<nav role="navigation">
    <div class="logo-part">
        <p>Stolný Tenis Slovensko</p>
        <div class="img-wrapper">
            <img src="{% static 'images/slovakia.png' %}" alt="slovakia erb">
        </div>
    </div>
    <div class="menu">
        <ul class="main-menu">
            <li class="menu-item"><a href="{% url 'home' %}">Domov</a></li>
            <li class="menu-item"><a href="{% url 'results' %}">Výsledky</a></li>
            <li class="menu-item"><a href="#">Turnaje <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown">
                    <ul>
                        <li><a href="#">Vytvor propozície</a></li>
                        <li><a href="#">Zadaj výsledky</a></li>
                        <li><a href="#">Export výsledkov</a></li>
                    </ul>
                </div>
            </li>
            {% if request.user.is_authenticated  %}
            <li class="menu-item"><a href="#">Hráči <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown">
                    <ul>
                        <li><a href="{% url 'player_create' %}">Vytvor hráča</a></li>
                        <li><a href="#">Uprav hráča</a></li>
                        <li><a href="{% url 'players' %}">Zoznam hráčov</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-item"><a href="#">Kluby <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown">
                    <ul>
                        <li><a href="{% url 'club_create' %}">Vytvor klub</a></li>
                        <li><a href="#">Uprav klub</a></li>
                        <li><a href="{% url 'clubs' %}">Zoznam klubov</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="user">
        <ul>
            {% if request.user.is_authenticated  %}
            <li class="user">
                <div class="user-avatar">
                    <div class="img-wrapper avatar-in">
                        <img src="{% static 'images/user_avatar.svg' %}" alt="user-avatar">
                    </div>
                    <p>{{ request.user }}</p>
                </div>
            </li>
            <li class="button">
                <a href="{% url 'logout' %}" class="btn-log log-out">Odhlásiť sa</a>
            </li>
            {% else %}
            <li class="user">
                <div class="user-avatar">
                    <div class="img-wrapper avatar-out">
                        <img src="{% static 'images/user_avatar.svg' %}" alt="user-avatar">
                    </div>
                </div>
            </li>
            <li class="button">
                <a href="{% url 'login' %}" class="btn-log log-in">Prihlásiť sa</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>